.sardin_admin_fieldsets {
    display: flex;
    flex-flow: row wrap;
}

.sardin_admin_fieldsets fieldset {
    border: solid 1px lightgray;
    padding: 1ex;
    margin: 1ex;
}

.sardin_admin_form legend {
    font-weight: bold;
    font-size: 120%;
    margin: 2ex 0 1ex 0;
}

.sardin_admin_form caption {
    margin-top: 2ex;
    font-weight: bold;
}

.sardin_form_table td {
    vertical-align: bottom;
}

.sardin_form_table td.sardin_middle {
    vertical-align: middle;
    text-align: center;
}

.sardin_short_input {
    width: 4.5em;
}

.sardin_long_input {
    width: 100%;
}

.sardin_center {
    text-align: center;
}

.sardin_right {
    text-align: right;
}

tr.sardin_caption th {
    padding: 2ex;
}

.sardin_buttons {
    text-align: center;
}

ul.sardin_participants {
    column-count: 4;
}

ul.sardin_participants li {
    display: block;
    list-style-type: none;
}
