<div class="wrap">
<h1><?= esc_html(get_admin_page_title()) ?></h1>
<form class="sardin_admin_form"
      action="<?= menu_page_url('sardin_admin_categories', false) ?>"
      method="post">

<fieldset>
<legend>Catégories de tarifs</legend>
<table class="sardin_form_table">
<tr>
  <th title="Intitulé descriptif du tarif ; devrait être conçu pour être précédé du mot « tarif », par exemple l'intitulé « jeune (moins de 12 ans) » sera affiché « Tarif jeune (moins de 12 ans) »">Description du tarif</th>
  <th title="Code du tarif en quelques lettres">Code</th>
  <th title="La priorité, comprise entre 0 et 1000, détermine l'ordre dans lequel les catégories de tarifs sont affichées (dans le tableau des tarifs et dans le menu du formulaire d'inscription), de la plus grande à la plus petite.">Priorité</th>
</tr>
<tr title="Tarif par défaut, non modifiable et avec la plus haute priorité.">
  <td>Tarif <strong>normal</strong></td>
  <td>&nbsp;N</td>
  <td>&nbsp;1001</td>
</tr>
<?php
// La catégorie 1 est la catégorie normale, créée à l\'initialisation du
// module, non désactivable, non modifiable
foreach (array_slice($categories, 1) as $category):
     $id = $category['category_id']; ?>
<tr>
  <td>
    Tarif
    <input type="text" class="sardin_long_input"
	   name="sardin_categories_names[<?= $id ?>]"
	   value="<?= $category['name'] ?>" />
    </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_categories_codes[<?= $id ?>]"
	   value="<?= $category['code'] ?>" />
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_categories_priorities[<?= $id ?>]"
	   value="<?= $category['priority'] ?>" />
  </td>
</tr>
<?php endforeach ?>
<tr>
  <td>
    <label for="sardin_new_category[name]">Tarif</label>
    <input type="text" class="sardin_long_input"
	   name="sardin_new_category[name]"
	   placeholder="nouvelle catégorie"
	   value="<?= @$sardin_new_category['name'] ?>"/>
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_new_category[code]"
	   placeholder="Code"
	   value="<?= @$sardin_new_category['code'] ?>"/>
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_new_category[priority]"
	   placeholder="500"
	   value="<?= @$sardin_new_category['priority'] ?>"/>
  </td>
</tr>
</table>
<p>
  <input type="submit" name="sardin_submit_categories"
	 value="Sauvegarder" />
</p>
</fieldset>
</form>
</div>
