form.sardin_inscription_form,
form.sardin_inscription_form fieldset {
    border: none;
}

.sardin_smallright {
    text-align: right;
    font-size: 80%;
    margin: 0;
}

p.sardin_message {
    font-size: 80%;
}

form.sardin_inscription_form input[type=text],
form.sardin_inscription_form select {
    width: 100%;
}

.sardin_error {
    color: red;
}

td.sardin_error p {
    margin: 0;
    font-size: 80%;
}

td.sardin_error select, td.sardin_error input, td.sardin_error textarea {
    border-color: red;
}

label.sardin_mandatory {
    font-weight: bold;
}

tr.sardin_form_header th,
p.sardin_buttons {
    text-align: center;
}
