<form action="<?= $form_url ?>" method="post"
      class="sardin_inscription_form sardin_shortcode">
<?php if ($verbose && !$expired_msg): ?>
<p class="sardin_description">
  Ce formulaire permet d'inscrire une ou plusieurs personnes partageant la même
  formule d'hébergement&nbsp;; si certaines ou certains arrivent ou repartent à
  un autre moment, il faudra
  <a href="<?= add_query_arg('sardin_group_token', false) ?>">créer un
  nouveau groupe d'inscriptions</a>.
</p>
<?php endif // ($verbose && !$expired_msg) ?>
<?php if ($expired_msg): ?>
<p class="sardin_important"><?= $expired_msg ?></p>
<?php endif // ($expired_msg) ?>
<?php if ($validated): ?>
<p class="sardin_message">
  <?php if (count($group['participants']) == 1): ?>
  L'inscription a été sauvegardée&nbsp;; vous pouvez continuer à la modifier,
  <?php else: // (count($group['participants']) == 1) ?>
  Les inscriptions ont été sauvegardées&nbsp;; vous pouvez continuer à les
  modifier,
  <?php endif // (count($group['participants']) == 1) ?>
  <?php if (!sardin_tournament_expired($tournament)): ?>
  ajouter des participantes ou participants,
  <?php endif // (!sardin_tournament_expired($tournament)) ?>
  ou y revenir plus tard
  <?php if (sardin_is_organisor($tournament)): ?>
  depuis la <a href="<?= sardin_admin_url($tournament) ?>">page de gestion des
    inscriptions</a>
  <?php else: // (sardin_is_organisor($tournament)) ?>
  grâce au lien suivant&nbsp;:
</p>
<p style="text-align: center" class="sardin_message">
    <a href="<?= $group['url'] ?>"><code><?= $group['url'] ?></code></a>.
  <?php endif // (sardin_is_organisor($tournament)) ?>
</p>
<?php endif // ($validated) ?>
<?php if ($mail_report): ?>
<p class="sardin_message"><?= $mail_report ?></p>
<?php elseif ($group['credential'] && $group['email']): // ($mail_report)?>
<p class="sardin_message">
  <?php if (sardin_is_organisor($tournament)): ?>
  Vous pouvez <a href="<?= $group['sendmail_url'] ?>">envoyer un mail de
    confirmation</a> à l'adresse mail indiquée.
  <?php else: // (sardin_is_organisor($tournament)) ?>
  Vous pouvez vous faire <a href="<?= $group['sendmail_url'] ?>">envoyer un
  email de confirmation</a> à l'adresse que vous avez indiquée.
  <?php endif // (sardin_is_organisor($tournament)) ?>
</p>
<?php elseif ($group['credential']): // ($mail_report) ?>
<?php endif  // ($mail_report) ?>
<?php if (isset($errors['global_msg'])): ?>
<p class="sardin_error"><?= $errors['global_msg'] ?></p>
<?php endif // (isset($errors['global_msg'])) ?>
<?php if (sardin_is_organisor($tournament)):?>
<p class="sardin_smallright">
  <a href="<?= sardin_admin_url($tournament) ?>">Retour à l'administration</a>
</p>
<?php elseif (!$group['credential'] && !@$errors['global_msg']): ?>
<p class="sardin_smallright">
 <a href="?sardin_reminder=1">Je suis déjà inscrit mais j'ai oublié le lien
 vers mon inscription</a>
</p>
<?php endif // (sardin_is_organisor($tournament)) ?>
<?php if ($group['credential'] || !$expired_msg): ?>
<input type="hidden" name="sardin_group_token"
       value="<?= $group['credential'] ?>" />
<fieldset>
<table>
<tr class="sardin_form_header">
  <th colspan="4">
    <?= $tournament['name'] ?>&nbsp;: inscription
  </th>
</tr>
<tr>
  <td>
    <label for="sardin_arrival" class="sardin_mandatory">Arrivée le</label>
  </td>
  <td <?= sardin_error_html_class($errors, 'sardin_arrival') ?>>
    <select name="sardin_arrival">
<?php foreach ($group['dates'] as $sql_date => $html_date): ?>
      <option value="<?= $sql_date ?>"
              <?= $sql_date == $group['arrival']
		      ? "selected=\"selected\"" : "" ?>>
	<?= $html_date ?>
      </option>
<?php endforeach ?>
    </select>
    <?= sardin_error_to_html($errors, 'sardin_arrival') ?>
  </td>
  <td>
    <label for="sardin_lodging" class="sardin_mandatory">Hébergement</label>
  </td>
  <td <?= sardin_error_html_class($errors, 'sardin_lodging') ?>>
    <select name="sardin_lodging">
<?php foreach ($group['lodgings'] as $lodging): ?>
      <option value="<?= $lodging['item_id'] ?>"
              <?= $lodging['item_id'] == $group['lodging']
	             ? "selected=\"selected\"" : "" ?>>
	<?= $lodging['name'] ?> -
        <?= $lodging['duration'] ?>
	jour<?= $lodging['duration'] > 1 ? "s" : "" ?>
      </option>
<?php endforeach ?>
    </select>
    <?= sardin_error_to_html($errors, 'sardin_lodging') ?>
  </td>
</tr>
<tr>
  <td title="Pour pouvoir se faire envoyer un mail de confirmation">
    <label for="sardin_email" class="sardin_optional">
      Email de contact
    </label>
  </td>
  <td <?= sardin_error_html_class($errors, 'sardin_email') ?>
      title="Pour pouvoir se faire envoyer un mail de confirmation">
    <input type="text" name="sardin_email"
	   value="<?= $group['email'] ?>" />
    <?= sardin_error_to_html($errors, 'sardin_email') ?>
  </td>
  <td title="Pour pouvoir vous joindre en cas d'urgence">
    <label for="sardin_phone" class="sardin_optional">
      Téléphone de contact (optionnel)
    </label>
  </td>
  <td <?= sardin_error_html_class($errors, 'sardin_phone') ?>
      title="Optionnel, pour pouvoir vous joindre en cas d'urgence">
    <input type="text" name="sardin_phone"
	   value="<?= $group['phone'] ?>" />
    <?= sardin_error_to_html($errors, 'sardin_phone') ?>
  </td>
</tr>
<tr>
  <td colspan="4">
    <label for="sardin_comment" class="sardin_optional">Remarques
      diverses</label>
    <br />
    <textarea title="Moins de 500 caractères"
	      name="sardin_comment"><?= $group['comment'] ?></textarea>
    <?= sardin_error_to_html($errors, 'sardin_comment') ?>
  </td>
</tr>
<?php foreach ($group['participants'] as $p_id => $ppant): ?>
<tr class="sardin_form_header">
  <th colspan="4">
    <?= $ppant['name'] ?>
  </th>
</tr>
<tr>
  <td>
    <label for="sardin_participant_name[<?= $p_id ?>]" class="sardin_mandatory">
      Nom
    </label>
  </td>
  <td <?= sardin_error_html_class($errors, "sardin_participant_name[$p_id]") ?>>
    <input type="text"
	   name="sardin_participant_name[<?= $p_id ?>]"
	   value="<?= $ppant['name'] ?>" />
    <?= sardin_error_to_html($errors, "sardin_participant_name[$p_id]") ?>
  </td>
  <td>
    <label for="sardin_participant_cat[<?= $p_id ?>]" class="sardin_mandatory">
      Tarif
    </label>
  </td>
  <td <?= sardin_error_html_class($errors, "sardin_participant_cat[$p_id]") ?>>
    <select name="sardin_participant_cat[<?= $p_id ?>]">
<?php foreach ($categories as $catcode => $category): ?>
      <option value="<?= $catcode ?>"
	      <?= $ppant['catcode'] == $catcode
	            ? "selected=\"selected\"" : "" ?>>
	<?= $category['name'] ?>
      </option>
<?php endforeach ?>
    </select>
    <?= sardin_error_to_html($errors, "sardin_participant_cat[$p_id]") ?>
  </td>
</tr>
<?php if (count($group['options']) > 0): ?>
<tr>
  <td colspan="2"
      title="Sélectionner les options souhaitées dans la liste">
    <label for="sardin_participant_options:<?= $p_id ?>[]"
	   class="sardin_optional">
      Options
    </label>
  </td>
  <td colspan="2"
      <?= sardin_error_html_class($errors,
                                  "sardin_participant_options:$p_id") ?> >
    <select multiple name="sardin_participant_options:<?= $p_id ?>[]"
	    title="Control-click (Commande-click sur Mac) pour (dé)sélectionner une option sans changer les autres">
<?php foreach ($group['options'] as $option): ?>
      <option value="<?= $option['item_id'] ?>"
	      <?= in_array($option['item_id'], $ppant['options'])
	            ? "selected=\"selected\"" : "" ?>>
	<?= $option['name'] ?>
      </option>
<?php endforeach ?>
    </select>
    <?= sardin_error_to_html($errors, "sardin_participant_options:$p_id") ?>
  </td>
</tr>
<?php endif // (count($group['options']) > 0) ?>
<tr>
  <td>Sous-total participant&nbsp;:</td>
  <td><?= $ppant['total'] ?>&nbsp;€</td>
  <td colspan="2"
      <?= sardin_error_html_class($errors, "sardin_cancel[$p_id]") ?>>
    <label for="sardin_cancel[<?= $p_id ?>]" class="sardin_optional">
      Annuler l'inscription de <?= $ppant['name'] ?>
    </label>&nbsp;&nbsp;
    <input type="checkbox"
	   name="sardin_cancel[<?= $p_id ?>]"
	   <?= in_array($p_id, $group['cancels']) ? "checked=\checked\""
	                                          : "" ?> />
    <?= sardin_error_to_html($errors, "sardin_cancel[$p_id]") ?>
  </td>
</tr>
<?php endforeach ?>
<?php if ($group['total'] > 0): ?>
<tr class="sardin_form_header">
  <th colspan="4">
    Total du groupe&nbsp;: <?= $group['total'] ?>&nbsp;€
  </th>
</tr>
<?php endif // ($group['total'] > 0) ?>
<?php if (!$expired_msg): ?>
<tr class="sardin_form_header">
  <th colspan="4">Ajouter une personne</th>
</tr>
<tr>
  <td <?= sardin_error_html_class($errors, 'sardin_comment') ?>>
    <label for="sardin_new_participant_name" class="sardin_mandatory">
      Nom
    </label>
  </td>
  <td <?= sardin_error_html_class($errors, 'sardin_new_participant_name') ?>>
    <input type="text"
	   name="sardin_new_participant_name"
	   value="<?= @$group['new']['name'] ?>"
	   placeholder="Prénom Nom"/>
    <?= sardin_error_to_html($errors, "sardin_new_participant_name") ?>
  </td>
  <td>
    <label for="sardin_new_participant_cat" class="sardin_mandatory">
      Tarif
    </label>
  </td>
  <td <?= sardin_error_html_class($errors, 'sardin_new_participant_cat') ?>>
    <select name="sardin_new_participant_cat">
<?php foreach ($categories as $catcode => $category): ?>
      <option value="<?= $catcode ?>"
	      <?= @$group['new']['catcode'] == $catcode
	           ? "selected=\"selected\"" : "" ?>>
	<?= $category['name'] ?>
      </option>
<?php endforeach ?>
    </select>
    <?= sardin_error_to_html($errors, "sardin_new_participant_cat") ?>
  </td>
</tr>
<?php if (count($group['options']) > 0): ?>
<tr>
  <td colspan="2"
      title="Sélectionner les options souhaitées dans la liste">
    <label for="sardin_new_participant_options" class="sardin_optional">
      Options
    </label>
  </td>
  <td colspan="2"
      <?= sardin_error_html_class($errors, 'sardin_new_participant_options') ?>>
    <select multiple name="sardin_new_participant_options[]"
	    title="Control-click (Commande-click sur Mac) pour (dé)sélectionner une option sans changer les autres">
<?php foreach ($group['options'] as $option): ?>
      <option value="<?= $option['item_id'] ?>"
	      <?= @in_array($option['item_id'], $group['new']['options'])
	            ? "selected=\"selected\"" : "" ?>>
	<?= $option['name'] ?>
      </option>
<?php endforeach ?>
    </select>
    <?= sardin_error_to_html($errors, "sardin_new_participant_options") ?>
  </td>
</tr>
<?php endif // (count($group['options']) > 0) ?>
<?php endif // (!$expired_msg) ?>
</table>
</fieldset>
<p class="sardin_buttons">
  <input type="submit" name="sardin_save_inscription" value="Enregistrer" />
</p>
<?php endif // ($group['credential'] || !$expired_msg) ?>
</form>

<?php if (SARDIN_DEBUG && is_array($mail)): ?>
<pre>
To: <?= $mail['to'] ?>

<?= implode("\n", $mail['headers']) ?>

Subject: <?= $mail['subject'] ?>

<?= $mail['body'] ?>
</pre>
<?php endif // (SARDIN_DEBUG && is_array($mail)) ?>
