<div class="<?= is_admin() ? 'wrap' : 'sardin_shortcode' ?>">
<?php if (is_admin()): ?>
<h1><?= $tournament['name'] ?></h1>
<p>
  Pour créer les pages publiques du tournoi (informations, inscriptions) vous
  disposez des
  <a href="https://www.wppourlesnuls.com/glossaire/shortcode/"
     target="_blank">shortcodes</a> suivants:
</p>
<ul>
<li>
  <code>[sardin_tarifs tournament="<?= $tournament['name'] ?>" caption="Les tarifs du tournoi"]</code>&nbsp;:
  le tableau des tarifs du tournoi, le paramètre
  (optionnel) <code>caption</code> permet d'indiquer un titre pour la
  table&nbsp;;
</li>
<li>
  <code>[sardin_inscription tournament="<?= $tournament['name'] ?>"]</code>&nbsp;:
  le formulaire d'inscription&nbsp;;
</li>
<li>
  <code>[sardin_participants tournament="<?= $tournament['name'] ?>"]</code>&nbsp;:
    la liste des inscrits.
</ul>
<p>
  Si vous voulez modifier l'événement il vous faut le dépublier d'abord (bouton
  ci-dessous).  Attention à prévenir les personnes éventuellement déjà inscrites
  des modifications apportées.
</p>
<form action="<?= sardin_admin_url($tournament) ?>"
      method="POST">
  <p class="sardin_buttons">
    <input type="submit" name="sardin_unpublish"
	   value='Dépublier "<?= $tournament['name'] ?>"'
           <?php if (count($participants) > 0): ?>onclick="return confirm('Attention, il y a déjà des inscrits, pensez à les prévenir si vous modifiez les conditions tarifaires ou les options disponibles...')"<?php endif ?> />
    <input type="submit" name="sardin_export_inscriptions"
	   value="Exporter la liste au format CSV" />
  </p>
</form>
<h2>Inscriptions</h2>
<?php endif // (is_admin()) ?>
<?php if (count($participants) == 0): ?>
<p>Aucune inscription (pour l'instant)</p>
<?php else: // (count($participants) == 0) ?>
<?php if ($show_count): ?>
<p>
  <?= count($participants) ?> inscription<?= count($participants) > 1 ? "s" : "" ?>
</p>
<?php endif // ($show_count) ?>
<ul class="sardin_participants">
<?php foreach ($participants as $participant): ?>
<li><?= sardin_html_participant($participant, $tournament) ?></li>
<?php endforeach ?>
</ul>
<?php endif // (count($participants) == 0) ?>
<?php if (sardin_is_organisor($tournament) and !is_admin()):?>
<p class="sardin_smallright">
  <a href="<?= sardin_admin_url($tournament) ?>">Administration du tournoi</a>
</p>
<?php endif ?>
</div>
