.sardin_smallright {
    text-align: right;
    font-size: 80%;
    margin: 0;
}

ul.sardin_participants {
    column-count: 4;
}

ul.sardin_participants li {
    display: block;
    list-style-type: none;
}
