<div class="sardin_shortcode">
<p>Un rappel de vos inscriptions à été envoyé à <?= $mails[0]['to'] ?>. Il
contient le lien qui vous permettra de modifier celles-ci.</p>
<p style="text-align: right;">
  <a href="<?= add_query_arg('sardin_reminder', false) ?>">Retour</a>
</p>
</div>

<?php if (SARDIN_DEBUG && is_array($mails)): ?>
<pre>
<?php foreach ($mails as $mail): ?>
To: <?= $mail['to'] ?>

<?= implode("\n", $mail['headers']) ?>

Subject: <?= $mail['subject'] ?>

<?= $mail['body'] ?>

                  *****************

<?php endforeach ?>
</pre>
<?php endif // (SARDIN_DEBUG && is_array($mails)) ?>
