<form action="" method="post" class="sardin_inscription_form sardin_shortcode">
<p class="sardin_smallright">
  <a href="<?= add_query_arg('sardin_reminder', false) ?>">Retour au formulaire
  d'inscription</a>
</p>
<?php if ($message): ?>
<p class="sardin_error"><?= $message ?></p>
<?php endif // ($message) ?>
<p>
  <label for="sardin_reminder_email">Si vous avez indiqué un mail avec votre
  inscription, entrez le ici (sinon contactez nous directement)</label>&nbsp;:
  <input type="text" name="sardin_reminder_email" />
</p>
<p class="sardin_buttons"><input type="submit" name="sardin_reminder"
				 value="Envoyer"/>
</p>
</form>
