<?php if ($caption): ?>
<p class="sardin_tarifs_table_caption"
   onclick="jQuery('.sardin_tarifs_table_win').slideToggle(); return false;">
  <a href="#"><?= $caption ?></a>
</p>
<div class="sardin_tarifs_table_win">
<?php endif ?>
<table class="sardin_tarifs_table sardin_shortcode">
<?php if (count($lodgings) > 0): ?>
<tr>
  <th class="sardin_left">Hébergements</th>
  <th>Durée</th>
<?php foreach ($categories as $category): ?>
  <th title="Tarif <?= $category['name'] ?>">Tarif <?= $category['code'] ?></th>
<?php endforeach ?>
</tr>
<?php foreach ($lodgings as $lodging): ?>
<tr>
  <td class="sardin_left">
    <?= $lodging['name'] ?>
  </td>
  <td>
    <?= $lodging['duration'] ?> jour<?= $lodging['duration'] > 1 ? 's' : '' ?>
  </td>
<?php foreach ($lodging['tarifs'] as $code => $tarif): ?>
  <td>
    <?= $tarif['value'] > 0 ? $tarif['value'] : '&nbsp;' ?>
  </td>
<?php endforeach ?>
</tr>
<?php endforeach ?>
<?php endif ?>
<?php if (count($options) > 0): ?>
<tr>
  <th colspan="<?= count($categories) + 2 ?>">
    Autres options
  </th>
</tr>
<?php foreach ($options as $option): ?>
<tr>
  <td colspan="2">
    <?= $option['name'] ?>
  </td>
<?php foreach ($option['tarifs'] as $code => $tarif): ?>
  <td>
    <?= $tarif['value'] > 0 ? $tarif['value'] : '&nbsp;' ?>
  </td>
<?php endforeach ?>
</tr>
<?php endforeach ?>
<?php endif ?>
</table>
<?php if ($caption): ?>
</div>
<script>
jQuery('.sardin_tarifs_table_win').css('display', 'none');
</script>
<?php endif ?>
