<div class="wrap">
<h1>Le tournoi <em><?= $tournament['name'] ?></em> a été créé.</h1>
<p>
  Vous pouvez le modifier, définir les organisateurs (qui auront les droits
  pour gérer le tournoi et les inscriptions), lui ajouter des formules
  d'hébergement et d'autres options (tournoi de go, de blitz, de coinche, de
  pétanque, pique-nique à la plage...) avant de lancer les inscriptions.
</p>
<p style="text-align: center;">
  <a href="<?= $tournament['admin_url'] ?>"><?= $tournament['name'] ?></a>
</p>
</div>
