<div class="wrap">
<h1><?= esc_html(get_admin_page_title()) ?></h1>
<form class="sardin_admin_form"
      action="<?= $tournament['tournament_id']
	          ? sardin_admin_url($tournament)
		  : menu_page_url('sardin_create_tournament', false) ?>"
      method="post">

<div class="sardin_admin_fieldsets">
<fieldset>
<legend>Infos tournoi</legend>
<p>
  <label for="sardin_tournament_name">Nom du tournoi</label><br />
  <input type="text" name="sardin_tournament_name"
	 value="<?= $tournament['name'] ?>"
         placeholder="Le tournoi du siècle" />
</p>
<p>
  <label for="sardin_tournament_start">Date de début</label><br />
  <input type="text" name="sardin_tournament_start"
	 value="<?= $tournament['start'] ?>"
         placeholder="jj/mm/aaaa" />
</p>
<p>
  <label for="sardin_tournament_end">Date de fin</label><br />
  <input type="text" name="sardin_tournament_end"
	 value="<?= $tournament['end'] ?>"
	 placeholder="jj/mm/aaaa"/>
</p>
<p>
  <label for="sardin_tournament_contact_mail">Email de contact</label><br />
  <input type="text" name="sardin_tournament_contact_mail"
	 value="<?= $tournament['contact_mail'] ?>" />
</p>
<p>
  <label for="sardin_tournament_max_participants">Nombre maximum de
    participants (optionnel)</label><br />
  <input type="text" name="sardin_tournament_max_participants"
	 value="<?= $tournament['max_participants'] ?>" />
<p>
  <label for="sardin_tournament_reg_end">Date de fin des
  inscriptions (optionnel)</label><br />
  <input type="text" name="sardin_tournament_reg_end"
	 value="<?= $tournament['reg_end'] ?>" />
</fieldset>

<?php if ($tournament['tournament_id']): ?>
<fieldset>
<legend>Organisateurs</legend>
<table class="sardin_form_table">
<?php foreach ($users as $user):
      $checked = $user['organisor'] ? "checked=\"checked\"" : "";
      $disabled = $user['removable'] ? "" : "disabled=\"disabled\"";
?>
<tr>
  <td>
    <input type="checkbox" class="sardin_checkbox_organisor"
	   <?= $checked ?> <?= $disabled ?>
	   name="sardin_organisors[<?= $user['user_id'] ?>]"
	   value="organisor" />
  </td>
  <td>
    <label for="sardin_organisors[<?= $user['user_id'] ?>]">
      <?= $user['pseudo'] ?>
    </label>
  </td>
</tr>
<?php endforeach ?>
</table>
</fieldset>

<fieldset>
<legend>Options proposées</legend>
<table class="sardin_form_table">
<tr class="sardin_caption">
  <th colspan="<?= count($categories) + 3 ?>">
    Formules d'hébergement
  </th>
</tr>
<tr>
  <th>Type d'hébergement<br />(pension complète, camping...)</th>
  <th title="Nombre de nuitées">Durée</th>
<?php foreach ($categories as $category): ?>
  <th title="Tarif <?= $category['name'] ?>&nbsp;; cocher la case ci-dessous
	     pour activer le tarif">
    Tarif <?= $category['code'] ?><br />
    <input type="checkbox" class="sardin_checkbox_category"
	   data-sardin-catcode="<?= $category['code'] ?>"
	   name="sardin_enabled_categories[<?= $category['code'] ?>]"
           <?= $category['enabled'] ? "checked=\"checked\"" : "" ?>
	   value="enabled" />
  </th>
<?php endforeach ?>
  <th>Supprimer</th>
</tr>
<?php foreach ($lodgings as $lodging): ?>
<tr>
  <td>
    <input type="text" class="sardin_long_input"
	   name="sardin_lodgings_names[<?= $lodging['item_id'] ?>]"
	   value="<?= $lodging['name'] ?>" />
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_lodgings_durations[<?= $lodging['item_id'] ?>]"
	   value="<?= $lodging['duration'] ?>" />
  </td>
<?php foreach ($lodging['tarifs'] as $code => $tarif): ?>
  <td>
    <input type="text" class="sardin_short_input sardin_right"
	   name="sardin_lodgings_tarifs:<?= $lodging['item_id'] ?>[<?= $code ?>]"
	   data-sardin-catcode="<?= $code ?>"
	   <?= $tarif['enabled'] ? "" : "disabled=\"disabled\"" ?>
	   value="<?= $tarif['value'] ?>" />
    </td>
<?php endforeach ?>
  <td class="sardin_middle">
    <input type="checkbox" class="sardin_checkbox_delete"
	   name="sardin_lodgings_deletes[<?= $lodging['item_id'] ?>]"
	   value="delete" />
  </td>
</tr>
<?php endforeach ?>
<tr title="Remplir cette ligne pour déclarer une nouvelle formule logement">
  <td>
    <input type="text" class="sardin_long_input"
	   name="sardin_new_lodging[name]"
	   placeholder="Nouvelle formule"
	   value="<?= @$sardin_new_lodging['name'] ?>" />
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_new_lodging[duration]"
	   value = "<?= @$sardin_new_lodging['duration'] ?>" />
  </td>
<?php foreach ($categories as $category): ?>
  <td>
    <input type="text" class="sardin_short_input sardin_right"
	   name="sardin_new_lodging_tarifs[<?= $category['code'] ?>]"
	   data-sardin-catcode="<?= $category['code'] ?>"
	   <?= $category['enabled'] ? "" : "disabled=\"disabled\"" ?> />
  </td>
<?php endforeach ?>
  <td class="sardin_middle">
    <input type="checkbox" class="sardin_checkbox_disabled"
	   disabled="disabled"
	   name="sardin_new_lodging_deletes"
	   value="delete" />
  </td>
</tr>
<tr class="sardin_caption">
  <th colspan="<?= count($categories) + 3 ?>">
    Autres options (tournois alternatifs, repas, animations...)
  </th>
</tr>
<tr>
  <th>Intitulé</th>
  <th title="Détermine l'ordre d'affichage, les grandes priorités en premier">
    Priorité
  </th>
<?php foreach ($categories as $category): ?>
  <th title="Tarif <?= $category['name'] ?>">Tarif <?= $category['code'] ?></th>
<?php endforeach ?>
  <th>Supprimer</th>
</tr>
<?php foreach ($options as $option): ?>
<tr>
  <td>
    <input type="text" class="sardin_long_input"
	   name="sardin_options_names[<?= $option['item_id'] ?>]"
	   value="<?= $option['name'] ?>" />
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_options_priorities[<?= $option['item_id'] ?>]"
	   value="<?= $option['duration'] ?>" />
  </td>
<?php foreach ($option['tarifs'] as $code => $tarif): ?>
  <td>
    <input type="text" class="sardin_short_input sardin_right"
	   name="sardin_options_tarifs:<?= $option['item_id'] ?>[<?= $code ?>]"
	   data-sardin-catcode="<?= $code ?>"
	   <?= $tarif['enabled'] ? "" : "disabled=\"disabled\"" ?>
	   value="<?= $tarif['value'] ?>" />
    </td>
<?php endforeach ?>
  <td class="sardin_middle">
    <input type="checkbox" class="sardin_checkbox_delete"
	   name="sardin_options_deletes[<?= $option['item_id'] ?>]"
	   value="delete" />
  </td>
</tr>
<?php endforeach ?>
<tr title="Remplir cette ligne pour déclarer une nouvelle option">
  <td>
    <input type="text" class="sardin_long_input"
	   name="sardin_new_option_name"
	   placeholder="Nouvelle option" />
  </td>
  <td>
    <input type="text" class="sardin_short_input sardin_center"
	   name="sardin_new_option_priority"
	   placeholder="500" />
  </td>
<?php foreach ($categories as $category): ?>
  <td>
    <input type="text" class="sardin_short_input sardin_right"
	   name="sardin_new_option_tarifs[<?= $category['code'] ?>]"
	   data-sardin-catcode="<?= $category['code'] ?>"
	   <?= $category['enabled'] ? "" : "disabled=\"disabled\"" ?> />
<?php endforeach ?>
  <td class="sardin_middle">
    <input type="checkbox" class="sardin_checkbox_disabled"
	   disabled="disabled"
	   name="sardin_new_option_deletes"
	   value="delete" />
  </td>
</tr>
</table>
</fieldset>
<?php endif // if ($tournament['tournament_id']) ?>
</div>
<p class="sardin_buttons">
  <input type="submit" name="sardin_submit_tournament"
	 value="Sauver" />
<?php if ($tournament['tournament_id']): ?>
  &nbsp;&nbsp;
  <input type="submit" name="sardin_publish_tournament"
	 value="Sauver et publier" />
<?php endif ?>
</p>
</form>
</div>
